* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#topo {
    background-color: rgb(100,149,237);
    color: red;
    text-align: center;
}

#menu {
    background-color: rgb(0,191,255);

}

.destaques {
    background-color: rgb(135,206,235);
}

#rodape {
    background-color: rgb(176,196,222);
}

#logo {
    background-image: url(../images/logo.png);
    width: 150px;
    height: 150px;
}

main {
    background-color: blueviolet;
}
a {
    text-decoration: none;

}
a:visited {
    color: bisque;
}
a:hover {
    background-color: black;
    color: yellow;
    font-size: 25px;
    border: solid 5px;
}